table {
  border-collapse: collapse;
}
tr, th, td {
  border: 1px solid #999;
  padding: 5px 10px;
  font-size: 12px;
  color: #333;
  text-align: center;
  empty-cells: hide;
}
th {
  background-color: #666;
  color: white;
}

table > colgroup > col.col-1 {
  background-color: blue;
}
table > colgroup > col.col-2 {
  background-color: red;
}
table > colgroup > col.col-3 {
  border-right-style: double;
  border-width: 5px;
  border-color: gray;
}
table > colgroup > col.col-4 {
  background-color: gray;
}

table.table-collapse {
  border-collapse: separate;
  /*border-collapse: collapse;*/
  border-spacing: 10px;
}
table.table-collapse > tr {
  empty-cells: hide;
}
table.table-collapse > td {
  empty-cells: hide;
}

table.table-layout {
  width: 600px;
  table-layout: fixed;
}
