{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>이한영의 홈페이지에 오신것을 환영합니다</title>

  <!-- https://tutorial.djangogirls.org/ko/css/ -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
  <div class="container">
    <h1 class="blog-title">Django girls tutorial Blog</h1>

    {% for post in post_list %}
    <div>
      <h4><a href="#">{{ post.title }}</a></h4>
      <p>{{ post.text|linebreaksbr }}</p>
      <p>published : {{ post.published_date|default:"모름" }}</p>
    </div>
    <hr>
    {% endfor %}
  </div>
</body>
</html>
